body {
  margin: 0;
  box-sizing: border-box;
}

.Wrapper {
  background-color: #FFD700;
  min-height: 100vh;
  display: flex;
}

.InputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 470px;
  height: 40px;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 10px;
}